<div class="container">
    <div cass="row">
        <div class="col-3">Total Views:</div>
        <span class="col-4">
            <span id="totalViewsCounter"></span>
        </span>

    </div>

    <div cass="row">
        <div class="col-3">Total Connection/Users:</div>
        <span class="col-4">
            <span id="totalUsersCounter"></span>
        </span>

    </div>

</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>